* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#navbar {
	border-bottom: 1px solid black;
}

#navbarspan {
	font-size: 18px;
}

a:hover {
	border-bottom: 1px solid white;
}

#catalog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5vh 0;
	background-image: url(images/wood.jpg);
	background-repeat: repeat;
	background-size: 100%;
	background-attachment: scroll;
}

#gallery-image {
	width: 1000px;
	height: 550px;
	justify-content: center;
}

#order {
	text-decoration: underline;
}

#cardimage {
	height: 100px;
}